* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


footer {
    background-color: 	#FFEFD5;
    width: 100%;
    height: 30px;
    padding-left: 20px;
    padding-top: 10px;
}